@media (max-width: 768px) {
  .noticias-principais {
    grid-template-columns: 1fr;
  }

  .lateral {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .lateral .noticia {
    flex: 1 1 100%;
  }

  header .material-icons {
    position: static;
    transform: none;
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 1000px) {

    #noticia-1 {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 10px;
    }

}